 @import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans&family=Roboto:wght@400&display=swap');

body {
    font-family: 'DM Sans', sans-serif;  
}

.content {
    justify-content: center;
    align-items: center;
    display: flex;
    /* height: 100vh; */
    padding-top: 8%;
}
.content-part {
    width: 47%;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    height: 83vh;
    display: flex;

}

.first-r {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.third-r {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.next-button {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
}

.second-r {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.username {
    width: 100%;
}

.left-side {
    width: 55%;
    height: 100%;
    padding: 20px;
    padding-left: 40px;
}

.right-side {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-r {
    width: 48%;
    padding-top: 5px;
}

 .logo p {
    font-weight: 100;
    font-size: medium;
    color: rgb(63, 63, 63);
} 

 .heading {
    display: flex;
    justify-content: start;
    height: 65px;
}

.title {
    display: flex;
    justify-content: start;
    padding-bottom: 30px;
}

.title p {
    font-size: x-large;
    font-weight: 600;
} 

 .msg span {
    font-size: x-large;
    font-weight: 50;
} 

 .email {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: small;
    font-weight: 500;
    color: #1a73e8;
    height: 70px;
}

.email :hover {
    cursor: pointer;
    border-radius: 5px; 
    background-color: #e7e9f3;
    color: rgb(41, 62, 153);
}

.button-container {
    width: 100%;
    display: flex;
    padding-top: 20px;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 50px;
  
}  

 .button-container button {
    background-color: #1e7cf7;
    font-weight: 600;
    color: rgb(49, 85, 206);
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-family: 'DM Sans', sans-serif;
    
}

.button-container p {
    font-size: small;
    font-weight: 500;
    color: #1a73e8;
}

.button-container button:hover {
    cursor: pointer;
    background-color: #0a6ef1;
}

.button-container p:hover {
    cursor: pointer;
    background-color: #3126c5;
    border-radius: 3px;
    color: rgb(41, 62, 153);
}

.checkbox {
    display: flex;
    justify-self: start;
    height: 45px;
}

.helper-Text{
    display: flex;
    justify-content: start;
    padding-left: 15px;
	font-family: sans-serif;
	font-size: 12px;
	color: rgb(105, 105, 105);
}  
@media screen and (max-width: 47%){
        #content{
             width: 500px;
             height: 70vh;
             display: flex;
        }
        
        
    }
    
